/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/

* {
  box-sizing: border-box;
  font-family: Rubik, sans-serif;
}

body {
  margin: 0;
}

/** TYPOGRAPHY **/

input {
  font-size: 18px;
}

h4 {
  color: #2b2b2b
}

h6 {
  color: #969696
}